In [51]:
# Read the data

# Import the libraries
import pandas as pd

# Import the datasets from the xls files
# ASMR = age-standardised mortality rates
# SIMD = Scottish Index of Multiple Deprivation

# *** Table 2A: Alcohol specific deaths by sex and age, 1979-2022 [note1][note2][note3][note4] ***
df_sex_and_age_deaths = pd.read_excel('alcohol-specific-deaths-22-all-tabs.xlsx', sheet_name='Table_2A', header=4)

# *** Table 2B: Alcohol specific deaths, age-specific mortality by sex, 1994-2022 [note1][note2][note3][note4] ***
df_sex_and_age_asmr = pd.read_excel('alcohol-specific-deaths-22-all-tabs.xlsx', sheet_name='Table_2B', header=4)

# *** Table 4A: Alcohol specific deaths in Scottish Council areas, 1979-2022 [note1][note2][note3][note4] ***
df_council_areas = pd.read_excel('alcohol-specific-deaths-22-all-tabs.xlsx', sheet_name='Table_4A', header=4)

# *** Table 5: Alcohol specific deaths by Scottish Index of Multiple Deprivation (SIMD), 2001 to 2022 [note1][note2][note3][note4][note6] ***
# 1	Most deprived
# 2
# 3
# 4
# 5	Least deprived
df_simd = pd.read_excel('alcohol-specific-deaths-22-all-tabs.xlsx', sheet_name='Table_5', header=4)

# *** Table 6: Alcohol specific deaths by Scottish Government Urban Rural Classification, 2011 to 2022 [note1][note2][note3][note4][note6] ***
# UR1	Large urban areas
# UR2	Other urban areas
# UR3	Accessible small towns
# UR4	Remote small towns
# UR5	Accessible rural areas
# UR6	Remote rural areas
df_urban_rural = pd.read_excel('alcohol-specific-deaths-22-all-tabs.xlsx', sheet_name='Table_6', header=4)

In [52]:
# View the data
df_sex_and_age_deaths

,Year,Sex,Measure,Age 0,Age 1-4,Age 5-9,Age 10-14,Age 15-19,Age 20-24,Age 25-29,...,Age 50-54,Age 55-59,Age 60-64,Age 65-69,Age 70-74,Age 75-79,Age 80-84,Age 85-89,Age 90 or more,Average age at death
0,1979,Persons,Number of deaths,0,0,0,0,2,0,5,...,63,70,42,34,22,9,3,2,0,54.2
1,1980,Persons,Number of deaths,0,0,0,0,0,2,10,...,58,60,55,41,16,9,1,0,0,53.9
2,1981,Persons,Number of deaths,0,0,0,0,0,1,7,...,54,66,50,35,19,10,2,0,0,54.7
3,1982,Persons,Number of deaths,0,0,0,0,0,1,2,...,48,68,55,43,24,7,1,1,0,55.7
4,1983,Persons,Number of deaths,0,0,0,0,1,2,5,...,62,53,61,37,22,7,4,0,0,55.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,2018,Males,Number of deaths,0,0,0,0,1,1,0,...,91,136,98,118,93,38,18,5,4,59.9
128,2019,Males,Number of deaths,0,0,0,0,0,1,5,...,90,92,92,91,76,32,19,10,1,59.3
129,2020,Males,Number of deaths,0,0,0,0,1,1,3,...,116,126,143,101,90,40,26,12,3,59.9
130,2021,Males,Number of deaths,0,0,0,0,0,0,2,...,123,140,136,112,81,49,21,8,2,59.7
131,2022,Males,Number of deaths,0,0,0,0,0,0,4,...,97,145,137,123,86,60,20,3,3,60.0

In [53]:
# Show the basic information and statistics for the dataframe
df_sex_and_age_deaths.info()
df_sex_and_age_deaths.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  132 non-null    int64
 1   Sex                   132 non-null    object
 2   Measure               132 non-null    object
 3   Age 0                 132 non-null    int64
 4   Age 1-4               132 non-null    int64
 5   Age 5-9               132 non-null    int64
 6   Age 10-14             132 non-null    int64
 7   Age 15-19             132 non-null    int64
 8   Age 20-24             132 non-null    int64
 9   Age 25-29             132 non-null    int64
 10  Age 30-34             132 non-null    int64
 11  Age 35-39             132 non-null    int64
 12  Age 40-44             132 non-null    int64
 13  Age 45-49             132 non-null    int64
 14  Age 50-54             132 non-null    int64
 15  Age 55-59             132 non-null    int64
 16  Age 60-64             132 non-null    int64
 17  Age 65-69             132 non-null    int64
 18  Age 70-74             132 non-null    int64
 19  Age 75-79             132 non-null    int64
 20  Age 80-84             132 non-null    int64
 21  Age 85-89             132 non-null    int64
 22  Age 90 or more        132 non-null    int64
 23  Average age at death  132 non-null    float64
dtypes: float64(1), int64(21), object(2)
memory usage: 24.9+ KB

,Year,Age 0,Age 1-4,Age 5-9,Age 10-14,Age 15-19,Age 20-24,Age 25-29,Age 30-34,Age 35-39,...,Age 50-54,Age 55-59,Age 60-64,Age 65-69,Age 70-74,Age 75-79,Age 80-84,Age 85-89,Age 90 or more,Average age at death
count,132.0000,132.0,132.0,132.0,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,...,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000
mean,2000.5000,0.0,0.0,0.0,0.045455,0.424242,1.378788,5.166667,13.878788,29.409091,...,88.318182,93.757576,86.121212,67.696970,39.636364,19.378788,8.045455,2.515152,0.621212,55.923485
std,12.7468,0.0,0.0,0.0,0.209092,0.711103,1.287226,3.640667,8.858541,18.963989,...,58.303931,60.057621,57.158549,45.941207,30.200671,16.531040,7.626654,3.007585,1.059528,1.572321
min,1979.0000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,...,12.000000,16.000000,12.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,52.800000
25%,1989.7500,0.0,0.0,0.0,0.000000,0.000000,0.000000,2.000000,7.000000,14.750000,...,45.750000,47.750000,40.750000,34.000000,15.000000,7.000000,2.000000,0.000000,0.000000,54.800000
50%,2000.5000,0.0,0.0,0.0,0.000000,0.000000,1.000000,5.000000,11.000000,24.000000,...,65.500000,70.500000,62.000000,50.000000,26.500000,11.000000,5.000000,2.000000,0.000000,55.500000
75%,2011.2500,0.0,0.0,0.0,0.000000,1.000000,2.000000,8.000000,20.000000,39.250000,...,132.750000,140.000000,136.250000,102.000000,60.750000,30.000000,12.500000,4.000000,1.000000,56.400000
max,2022.0000,0.0,0.0,0.0,1.000000,3.000000,6.000000,15.000000,37.000000,90.000000,...,228.000000,231.000000,223.000000,184.000000,130.000000,81.000000,31.000000,14.000000,5.000000,60.000000

In [54]:
# View the data
df_sex_and_age_asmr

,Year,Sex,Measure,Age 0,Age 1-4,Age 5-9,Age 10-14,Age 15-19,Age 20-24,Age 25-29,...,Age 45-49,Age 50-54,Age 55-59,Age 60-64,Age 65-69,Age 70-74,Age 75-79,Age 80-84,Age 85-89,Age 90 or more
0,1994,Persons,Age-specific rate,0,0,0,0.000000,0.326419,0.538022,1.722360,...,21.589261,23.263647,31.283534,32.197848,27.872071,15.231238,7.971303,3.787986,1.845904,4.448003
1,1995,Persons,Age-specific rate,0,0,0,0.000000,0.324845,0.839678,0.753345,...,25.090382,33.781688,35.203983,39.292428,26.212538,19.912669,12.412595,3.764529,7.152181,0.000000
2,1996,Persons,Age-specific rate,0,0,0,0.000000,0.000000,0.881194,0.255477,...,29.281505,41.806161,47.252920,41.745100,34.280363,23.977595,15.869552,7.620862,0.000000,0.000000
3,1997,Persons,Age-specific rate,0,0,0,0.312335,0.317225,1.242035,1.583155,...,37.042808,42.424547,42.823888,40.687581,41.682471,25.722411,15.782230,5.882757,8.670771,0.000000
4,1998,Persons,Age-specific rate,0,0,0,0.000000,0.314153,0.646323,2.201849,...,36.804529,53.016165,53.899580,42.994077,35.034304,25.277199,15.197291,7.156440,8.519194,7.666654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,2018,Males,Age-specific rate,0,0,0,0.000000,0.687734,0.564057,0.000000,...,39.875721,46.459624,72.320422,60.033202,81.371454,72.455300,44.684329,30.862081,16.397744,31.695721
83,2019,Males,Age-specific rate,0,0,0,0.000000,0.000000,0.567969,2.615815,...,40.615061,46.406105,48.224348,55.138686,62.993216,57.428271,36.410805,31.747093,31.764183,7.456566
84,2020,Males,Age-specific rate,0,0,0,0.000000,0.693448,0.577027,1.586135,...,50.184206,61.260595,65.167470,83.772210,69.882169,66.220293,44.840033,43.139207,37.235858,21.963541
85,2021,Males,Age-specific rate,0,0,0,0.000000,0.000000,0.000000,1.073065,...,43.182883,65.699513,72.273732,78.006252,76.257915,58.827374,52.826771,34.893575,24.375381,13.868664
86,2022,Males,Age-specific rate,0,0,0,0.000000,0.000000,0.000000,2.146130,...,37.100786,51.811811,74.854936,78.579827,83.747532,62.458694,64.685842,33.231976,9.140768,20.802996

In [55]:
# Show the basic information and statistics for the dataframe
df_sex_and_age_asmr.info()
df_sex_and_age_asmr.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            87 non-null     int64
 1   Sex             87 non-null     object
 2   Measure         87 non-null     object
 3   Age 0           87 non-null     int64
 4   Age 1-4         87 non-null     int64
 5   Age 5-9         87 non-null     int64
 6   Age 10-14       87 non-null     float64
 7   Age 15-19       87 non-null     float64
 8   Age 20-24       87 non-null     float64
 9   Age 25-29       87 non-null     float64
 10  Age 30-34       87 non-null     float64
 11  Age 35-39       87 non-null     float64
 12  Age 40-44       87 non-null     float64
 13  Age 45-49       87 non-null     float64
 14  Age 50-54       87 non-null     float64
 15  Age 55-59       87 non-null     float64
 16  Age 60-64       87 non-null     float64
 17  Age 65-69       87 non-null     float64
 18  Age 70-74       87 non-null     float64
 19  Age 75-79       87 non-null     float64
 20  Age 80-84       87 non-null     float64
 21  Age 85-89       87 non-null     float64
 22  Age 90 or more  87 non-null     float64
dtypes: float64(17), int64(4), object(2)
memory usage: 15.8+ KB

,Year,Age 0,Age 1-4,Age 5-9,Age 10-14,Age 15-19,Age 20-24,Age 25-29,Age 30-34,Age 35-39,...,Age 45-49,Age 50-54,Age 55-59,Age 60-64,Age 65-69,Age 70-74,Age 75-79,Age 80-84,Age 85-89,Age 90 or more
count,87.000000,87.0,87.0,87.0,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,...,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000
mean,2008.000000,0.0,0.0,0.0,0.032764,0.240265,0.588869,2.581193,7.305303,14.792886,...,37.817840,48.280973,54.284878,55.821823,49.652709,34.993531,23.204899,14.296743,9.111999,4.422359
std,8.415103,0.0,0.0,0.0,0.128326,0.379418,0.533572,1.696745,3.423722,6.170560,...,14.650862,19.252037,20.283914,25.092999,22.582463,18.131270,14.201195,10.346462,8.384501,7.652346
min,1994.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.441525,4.628906,...,10.440593,12.235160,16.836670,18.372761,13.693107,7.188154,4.777785,0.000000,0.000000,0.000000
25%,2001.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,1.424757,4.832718,9.831918,...,26.839162,33.844645,36.929038,35.572250,30.765343,19.572667,10.841586,5.902962,2.647168,0.000000
50%,2008.000000,0.0,0.0,0.0,0.000000,0.000000,0.569914,2.405620,6.364010,13.861318,...,35.117150,43.899157,52.676730,52.308872,47.755173,34.402421,19.014912,11.463157,7.170001,0.000000
75%,2015.000000,0.0,0.0,0.0,0.000000,0.479541,0.890099,3.410411,8.953277,18.824667,...,45.950256,59.480728,68.127127,74.167167,64.049409,44.945632,31.990683,19.887063,13.636313,5.432971
max,2022.000000,0.0,0.0,0.0,0.657652,1.867658,2.308989,7.121324,17.723397,34.340475,...,77.165597,97.018188,100.891328,123.918671,102.489683,80.242897,64.685842,43.139207,37.235858,38.454143

In [56]:
# View the data
df_council_areas

,Year,Scotland,Aberdeen City,Aberdeenshire,Angus,Argyll and Bute,City of Edinburgh,Clackmannanshire,Dumfries and Galloway,Dundee City,...,Orkney Islands,Perth and Kinross,Renfrewshire,Scottish Borders,Shetland Islands,South Ayrshire,South Lanarkshire,Stirling,West Dunbartonshire,West Lothian
0,1979,389,18,2,8,5,42,0,4,11,...,3,8,14,1,0,3,18,3,6,4
1,1980,369,9,2,5,7,33,4,6,9,...,2,5,23,1,2,8,12,0,9,8
2,1981,348,14,7,4,6,50,0,4,9,...,1,1,12,3,1,6,19,3,6,5
3,1982,355,15,7,2,3,41,1,4,9,...,1,5,14,1,1,3,22,2,6,6
4,1983,351,8,7,9,6,41,4,4,13,...,3,6,10,4,0,4,17,4,7,2
5,1984,369,13,5,4,7,45,1,10,10,...,1,5,11,3,0,5,14,2,7,5
6,1985,395,16,7,6,3,39,0,7,16,...,1,8,12,2,3,8,24,5,12,8
7,1986,384,14,10,3,6,45,2,4,10,...,1,9,12,2,0,2,11,5,6,2
8,1987,384,8,5,10,6,36,2,7,14,...,2,9,18,2,1,7,19,9,9,10
9,1988,427,15,6,5,4,52,5,7,11,...,1,10,11,5,2,8,23,6,11,9
10,1989,449,7,7,9,5,61,2,9,11,...,2,11,12,4,2,8,15,2,17,9
11,1990,436,19,11,7,5,45,5,4,17,...,1,10,14,6,5,13,17,5,8,10
12,1991,431,17,10,9,10,54,2,9,17,...,0,12,14,7,6,12,23,8,16,11
13,1992,410,25,8,13,6,39,7,6,17,...,2,7,23,5,6,9,22,3,6,8
14,1993,451,23,7,10,6,45,5,8,19,...,2,7,21,4,1,14,23,10,9,8
15,1994,550,18,11,9,5,50,2,9,18,...,2,19,26,8,3,10,27,11,15,11
16,1995,627,23,10,9,8,55,6,11,22,...,3,18,27,7,1,10,28,8,13,12
17,1996,775,27,15,14,6,70,6,10,26,...,3,15,44,6,2,12,39,10,19,20
18,1997,861,21,11,11,10,67,4,14,24,...,3,16,61,6,4,27,39,19,22,30
19,1998,915,30,15,10,11,62,8,19,25,...,2,25,51,9,3,23,60,11,18,29
20,1999,1021,30,24,14,16,83,12,10,37,...,2,22,40,9,1,18,62,11,22,28
21,2000,1144,46,19,16,9,107,9,17,32,...,5,15,77,8,1,17,56,14,23,23
22,2001,1228,47,23,17,20,122,8,21,45,...,8,21,57,13,5,23,56,16,27,29
23,2002,1334,40,20,23,21,105,10,23,45,...,4,21,60,15,1,24,78,16,43,30
24,2003,1354,28,27,24,22,98,7,25,61,...,7,27,58,12,2,33,74,20,39,40
25,2004,1331,34,23,27,17,110,13,23,62,...,7,32,56,17,6,27,94,13,37,32
26,2005,1354,41,24,25,20,125,7,26,51,...,3,20,87,11,6,20,91,16,38,37
27,2006,1417,32,19,18,25,98,15,31,45,...,2,27,63,6,6,30,81,16,43,26
28,2007,1282,45,24,13,30,92,11,22,44,...,6,25,42,22,6,20,71,12,37,30
29,2008,1316,31,29,19,20,94,16,23,64,...,5,25,56,10,3,29,77,23,43,30
30,2009,1180,46,26,21,19,90,10,29,49,...,7,30,42,11,2,18,68,19,24,19
31,2010,1183,39,15,15,30,95,5,31,44,...,5,36,44,21,9,28,65,17,31,26
32,2011,1135,29,16,19,15,74,12,18,45,...,4,30,40,15,4,19,76,13,32,29
33,2012,968,33,17,15,14,61,6,11,33,...,4,32,47,15,0,24,67,13,23,25
34,2013,1002,33,20,18,14,77,16,19,29,...,8,16,36,14,1,15,56,14,23,37
35,2014,1036,43,21,18,19,79,6,12,37,...,3,26,44,21,3,26,73,15,24,31
36,2015,1045,35,26,19,22,73,13,27,49,...,4,28,37,17,2,18,69,18,20,25
37,2016,1139,43,23,22,15,84,11,25,35,...,9,20,40,16,3,10,85,14,28,28
38,2017,1120,33,26,18,28,96,6,15,32,...,2,17,44,12,1,17,69,13,26,38
39,2018,1136,51,33,22,24,91,8,25,36,...,5,30,50,18,5,23,73,13,34,35
40,2019,1020,30,29,21,14,71,15,23,30,...,4,23,36,15,3,27,46,16,18,28
41,2020,1190,36,32,19,28,102,12,24,43,...,3,25,44,15,0,20,92,21,22,45
42,2021,1245,43,30,30,20,102,9,25,46,...,8,30,53,21,2,24,77,13,40,40
43,2022,1276,49,35,27,24,93,13,36,37,...,4,32,42,21,6,29,93,17,21,24

In [57]:
# Show the basic information and statistics for the dataframe
df_council_areas.info()
df_council_areas.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   44 non-null     int64
 1   Scotland               44 non-null     int64
 2   Aberdeen City          44 non-null     int64
 3   Aberdeenshire          44 non-null     int64
 4   Angus                  44 non-null     int64
 5   Argyll and Bute        44 non-null     int64
 6   City of Edinburgh      44 non-null     int64
 7   Clackmannanshire       44 non-null     int64
 8   Dumfries and Galloway  44 non-null     int64
 9   Dundee City            44 non-null     int64
 10  East Ayrshire          44 non-null     int64
 11  East Dunbartonshire    44 non-null     int64
 12  East Lothian           44 non-null     int64
 13  East Renfrewshire      44 non-null     int64
 14  Falkirk                44 non-null     int64
 15  Fife                   44 non-null     int64
 16  Glasgow City           44 non-null     int64
 17  Highland               44 non-null     int64
 18  Inverclyde             44 non-null     int64
 19  Midlothian             44 non-null     int64
 20  Moray                  44 non-null     int64
 21  Na h-Eileanan Siar     44 non-null     int64
 22  North Ayrshire         44 non-null     int64
 23  North Lanarkshire      44 non-null     int64
 24  Orkney Islands         44 non-null     int64
 25  Perth and Kinross      44 non-null     int64
 26  Renfrewshire           44 non-null     int64
 27  Scottish Borders       44 non-null     int64
 28  Shetland Islands       44 non-null     int64
 29  South Ayrshire         44 non-null     int64
 30  South Lanarkshire      44 non-null     int64
 31  Stirling               44 non-null     int64
 32  West Dunbartonshire    44 non-null     int64
 33  West Lothian           44 non-null     int64
dtypes: int64(34)
memory usage: 11.8 KB

,Year,Scotland,Aberdeen City,Aberdeenshire,Angus,Argyll and Bute,City of Edinburgh,Clackmannanshire,Dumfries and Galloway,Dundee City,...,Orkney Islands,Perth and Kinross,Renfrewshire,Scottish Borders,Shetland Islands,South Ayrshire,South Lanarkshire,Stirling,West Dunbartonshire,West Lothian
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,...,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,2000.500000,866.636364,28.568182,16.909091,14.477273,13.886364,72.590909,7.181818,15.840909,30.431818,...,3.522727,18.545455,36.931818,10.022727,2.750000,16.613636,50.477273,11.340909,21.363636,21.409091
std,12.845233,383.617426,12.609332,9.288198,7.235213,8.246820,25.856777,4.636923,9.154852,16.065850,...,2.287363,9.460947,19.553621,6.413970,2.221722,8.710368,27.544035,5.953085,11.741580,12.301103
min,1979.000000,348.000000,7.000000,2.000000,2.000000,3.000000,33.000000,0.000000,4.000000,9.000000,...,0.000000,1.000000,10.000000,1.000000,0.000000,2.000000,11.000000,0.000000,6.000000,2.000000
25%,1989.750000,430.000000,17.750000,7.750000,9.000000,6.000000,48.750000,4.000000,7.750000,16.750000,...,2.000000,9.750000,17.000000,4.750000,1.000000,8.750000,22.750000,5.750000,10.500000,9.000000
50%,2000.500000,1011.000000,30.000000,16.500000,14.500000,14.000000,72.000000,6.500000,14.500000,31.000000,...,3.000000,19.500000,40.000000,9.000000,2.000000,17.500000,56.000000,13.000000,21.500000,25.000000
75%,2011.250000,1184.750000,39.250000,24.000000,19.000000,20.000000,94.250000,11.000000,23.250000,44.250000,...,5.000000,26.250000,50.250000,15.000000,4.250000,24.000000,73.250000,16.000000,28.750000,30.000000
max,2022.000000,1417.000000,51.000000,35.000000,30.000000,30.000000,125.000000,16.000000,36.000000,64.000000,...,9.000000,36.000000,87.000000,22.000000,9.000000,33.000000,94.000000,23.000000,43.000000,45.000000

In [58]:
# View the data
df_simd

,Year,SIMD quintile,Quintile description,Sex,Age-Standardised Rate of Mortality (ASMR),Lower Confidence Interval Limit,Upper Confidence Interval Limit,Deaths
0,2001,1,Most deprived,Persons,59.877770,54.842156,64.913384,547
1,2001,2,NaN,Persons,30.368878,26.808298,33.929459,281
2,2001,3,NaN,Persons,18.266078,15.536849,20.995307,173
3,2001,4,NaN,Persons,13.508915,11.122966,15.894864,125
4,2001,5,Least deprived,Persons,10.786597,8.663116,12.910079,102
...,...,...,...,...,...,...,...,...
325,2022,1,Most deprived,Females,26.745023,22.278097,31.211949,139
326,2022,2,NaN,Females,21.317339,17.402308,25.232370,115
327,2022,3,NaN,Females,13.622495,10.653626,16.591364,82
328,2022,4,NaN,Females,10.877097,8.303101,13.451094,69
329,2022,5,Least deprived,Females,5.554671,3.710601,7.398741,35

In [59]:
# Show the basic information and statistics for the dataframe
df_simd.info()
df_simd.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 8 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Year                                       330 non-null    int64
 1   SIMD quintile                              330 non-null    int64
 2   Quintile description                       132 non-null    object
 3   Sex                                        330 non-null    object
 4   Age-Standardised Rate of Mortality (ASMR)  330 non-null    float64
 5   Lower Confidence Interval Limit            330 non-null    float64
 6   Upper Confidence Interval Limit            330 non-null    float64
 7   Deaths                                     330 non-null    int64
dtypes: float64(3), int64(3), object(2)
memory usage: 20.8+ KB

,Year,SIMD quintile,Age-Standardised Rate of Mortality (ASMR),Lower Confidence Interval Limit,Upper Confidence Interval Limit,Deaths
count,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000
mean,2011.500000,3.000000,24.407288,20.731421,28.083156,159.339394
std,6.353923,1.416361,19.709309,18.134640,21.304369,124.302968
min,2001.000000,1.000000,4.233193,2.569318,5.897067,25.000000
25%,2006.000000,2.000000,10.861516,8.173030,13.472446,72.250000
50%,2011.500000,3.000000,17.737329,14.373107,21.077390,119.500000
75%,2017.000000,4.000000,31.776274,26.903486,36.542077,209.000000
max,2022.000000,5.000000,106.551980,96.519501,116.584459,624.000000

In [60]:
# View the data
df_urban_rural

,Year,Urban Rural Classification,Urban Rural Description,Sex,Age-Standardised Rate of Mortality (ASMR),Lower Confidence Interval Limit,Upper Confidence Interval Limit,Deaths
0,2011,UR1,Large urban areas,Persons,28.233835,25.641329,30.826341,462
1,2011,UR2,Other urban areas,Persons,23.226388,21.050975,25.401802,442
2,2011,UR3,Accessible small towns,Persons,14.650346,11.180911,18.119782,69
3,2011,UR4,Remote small towns,Persons,17.858280,12.002352,23.714209,36
4,2011,UR5,Accessible rural areas,Persons,12.112726,9.361484,14.863969,76
...,...,...,...,...,...,...,...,...
211,2022,UR2,Other urban areas,Females,17.252999,14.747117,19.758881,184
212,2022,UR3,Accessible small towns,Females,12.768843,8.380981,17.156705,33
213,2022,UR4,Remote small towns,Females,18.359789,9.952793,26.766785,19
214,2022,UR5,Accessible rural areas,Females,9.447735,6.296307,12.599162,35
215,2022,UR6,Remote rural areas,Females,11.726319,6.804717,16.647921,23

In [61]:
# Show the basic information and statistics for the dataframe
df_urban_rural.info()
df_urban_rural.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Year                                       216 non-null    int64
 1   Urban Rural Classification                 216 non-null    object
 2   Urban Rural Description                    216 non-null    object
 3   Sex                                        216 non-null    object
 4   Age-Standardised Rate of Mortality (ASMR)  216 non-null    float64
 5   Lower Confidence Interval Limit            216 non-null    float64
 6   Upper Confidence Interval Limit            216 non-null    float64
 7   Deaths                                     216 non-null    int64
dtypes: float64(3), int64(2), object(3)
memory usage: 13.6+ KB

,Year,Age-Standardised Rate of Mortality (ASMR),Lower Confidence Interval Limit,Upper Confidence Interval Limit,Deaths
count,216.000000,216.000000,216.000000,216.000000,216.000000
mean,2016.500000,18.599654,14.181335,23.017973,123.259259
std,3.460071,8.566357,7.984305,9.656018,136.478084
min,2011.000000,4.995172,1.623421,8.202454,7.000000
25%,2013.750000,12.020720,8.352347,15.430324,33.000000
50%,2016.500000,16.340163,12.351394,20.924263,54.000000
75%,2019.250000,23.800984,19.127326,28.415002,148.250000
max,2022.000000,41.073666,36.637769,49.558702,507.000000

In [62]:
# Function to show unique values in the columns with string values
def show_unique_values(in_df):
    
    for column in in_df.select_dtypes(include='object').columns:
        
        # Get unique values in the column and sort them, excluding NaN values
        unique_values = sorted(in_df[column].dropna().unique())

        # Print sorted unique values of the column in a new line for each value
        print(f"\nUnique values in '{column}':\n")
        print(*unique_values, sep="\n")

In [63]:
# Show unique values in the columns with string values
show_unique_values(df_sex_and_age_deaths)

Unique values in 'Sex':

Females
Males
Persons

Unique values in 'Measure':

Number of deaths

In [64]:
# Show unique values in the columns with string values
show_unique_values(df_sex_and_age_asmr)

Unique values in 'Sex':

Females
Males
Persons

Unique values in 'Measure':

Age-specific rate

In [65]:
# Show unique values in the columns with string values
show_unique_values(df_council_areas)

In [66]:
# Show unique values in the columns with string values
show_unique_values(df_simd)

Unique values in 'Quintile description':

Least deprived
Most deprived

Unique values in 'Sex':

Females
Males
Persons

In [67]:
# Show unique values in the columns with string values
show_unique_values(df_urban_rural)

Unique values in 'Urban Rural Classification':

UR1
UR2
UR3
UR4
UR5
UR6

Unique values in 'Urban Rural Description':

Accessible rural areas
Accessible small towns
Large urban areas
Other urban areas
Remote rural areas
Remote small towns

Unique values in 'Sex':

Females
Males
Persons

In [68]:
# Transform and clean the data

# Drop rows with subtotals and totals
df_sex_and_age_deaths = df_sex_and_age_deaths[df_sex_and_age_deaths['Sex'] != 'Persons']
df_sex_and_age_asmr = df_sex_and_age_asmr[df_sex_and_age_asmr['Sex'] != 'Persons']
df_council_areas = df_council_areas.drop(columns='Scotland')
df_simd = df_simd[df_simd['Sex'] != 'Persons']
df_urban_rural = df_urban_rural[df_urban_rural['Sex'] != 'Persons']

# Drop rows with year < 2001
df_sex_and_age_deaths = df_sex_and_age_deaths[df_sex_and_age_deaths['Year'] >= 2001]
df_sex_and_age_asmr = df_sex_and_age_asmr[df_sex_and_age_asmr['Year'] >= 2001]
df_council_areas = df_council_areas[df_council_areas['Year'] >= 2001]
df_simd = df_simd[df_simd['Year'] >= 2001]