In [213]:
# Read the data

# Import the libraries
import pandas as pd

# Import the datasets from the xls files

# *** Deaths related to drug poisoning England and Wales, 1993 to 2022 ***
# df1 = pd.read_excel('2022registrations.xlsx', sheet_name='')

# *** Alcohol-specific deaths by individual cause, United Kingdom, 2001 to 2021 ***
df2_England          = pd.read_excel('deathsbyindividualcause.xlsx', sheet_name='Table 2', header=4)
df2_Wales            = pd.read_excel('deathsbyindividualcause.xlsx', sheet_name='Table 3', header=4)
df2_Scotland         = pd.read_excel('deathsbyindividualcause.xlsx', sheet_name='Table 4', header=4)
df2_Northern_Ireland = pd.read_excel('deathsbyindividualcause.xlsx', sheet_name='Table 5', header=4)

# *** Alcohol-specific deaths in the UK, 2001 to 2021 ***
df3 = pd.read_excel('alcoholspecificdeaths2021.xlsx', sheet_name='Table 1', header=4)

# *** Monitoring and Evaluating Scotland’s Alcohol Strategy: Monitoring Report 2021 ***
# df4 = pd.read_excel('mesas-monitoring-report-2021-alcohol-specific-deaths.xlsx', sheet_name='')

In [214]:
# View the data
df2_England

,Year [note 3],Sex,ICD-10 code,Individual cause of death description,<1,01-04,05-09,10-14,15-19,20-24,...,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90+,All ages
0,2021,Persons,E24.4,Alcohol-induced pseudo-Cushing's syndrome,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021,Persons,F10,Mental and behavioural disorders due to the us...,0,0,0,0,0,2,...,102,96,74,77,63,47,30,10,4,714
2,2021,Persons,G31.2,Degeneration of nervous system due to alcohol,0,0,0,0,0,0,...,0,0,2,3,2,1,0,0,0,8
3,2021,Persons,G62.1,Alcoholic polyneuropathy,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021,Persons,G72.1,Alcoholic myopathy,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,2001,Females,Q86.0,Fetal alcohol syndrome (dysmorphic),0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
941,2001,Females,R78.0,Excess alcohol blood levels,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
942,2001,Females,X45,Accidental poisoning by and exposure to alcohol,0,0,0,0,0,1,...,2,5,3,4,0,2,0,0,0,36
943,2001,Females,X65,Intentional self-poisoning by and exposure to ...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
944,2001,Females,Y15,"Poisoning by and exposure to alcohol, undeterm...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [215]:
# View the data
df2_Wales

,Year [note 3],Sex,ICD-10 code,Individual cause of death description,<1,01-04,05-09,10-14,15-19,20-24,...,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90+,All ages
0,2021,Persons,E24.4,Alcohol-induced pseudo-Cushing's syndrome,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021,Persons,F10,Mental and behavioural disorders due to the us...,0,0,0,0,0,0,...,3,7,5,9,1,3,0,0,0,36
2,2021,Persons,G31.2,Degeneration of nervous system due to alcohol,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,2021,Persons,G62.1,Alcoholic polyneuropathy,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021,Persons,G72.1,Alcoholic myopathy,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,2001,Females,Q86.0,Fetal alcohol syndrome (dysmorphic),0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
941,2001,Females,R78.0,Excess alcohol blood levels,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
942,2001,Females,X45,Accidental poisoning by and exposure to alcohol,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,4
943,2001,Females,X65,Intentional self-poisoning by and exposure to ...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
944,2001,Females,Y15,"Poisoning by and exposure to alcohol, undeterm...",0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [216]:
# View the data
df2_Scotland

,Year [note 3],Sex,ICD-10 code,Individual cause of death description,<1,01-04,05-09,10-14,15-19,20-24,...,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90+,All ages
0,2021,Persons,E24.4,Alcohol-induced pseudo-Cushing's syndrome,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021,Persons,F10,Mental and behavioural disorders due to the us...,0,0,0,0,0,0,...,51,52,59,53,32,18,7,9,3,348
2,2021,Persons,G31.2,Degeneration of nervous system due to alcohol,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,2
3,2021,Persons,G62.1,Alcoholic polyneuropathy,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2021,Persons,G72.1,Alcoholic myopathy,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,2001,Females,Q86.0,Fetal alcohol syndrome (dysmorphic),0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
941,2001,Females,R78.0,Excess alcohol blood levels,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
942,2001,Females,X45,Accidental poisoning by and exposure to alcohol,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
943,2001,Females,X65,Intentional self-poisoning by and exposure to ...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
944,2001,Females,Y15,"Poisoning by and exposure to alcohol, undeterm...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [217]:
# View the data
df2_Northern_Ireland

,Year [note 3],Sex,ICD-10 code,Individual cause of death description,<1,01-04,05-09,10-14,15-19,20-24,...,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90+,All ages
0,2021,Persons,E24.4,Alcohol-induced pseudo-Cushing's syndrome,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021,Persons,F10,Mental and behavioural disorders due to the us...,0,0,0,0,0,0,...,10,15,10,8,2,3,4,1,0,68
2,2021,Persons,G31.2,Degeneration of nervous system due to alcohol,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021,Persons,G62.1,Alcoholic polyneuropathy,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021,Persons,G72.1,Alcoholic myopathy,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934,2001,Females,Q86.0,Fetal alcohol syndrome (dysmorphic),0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
935,2001,Females,R78.0,Excess alcohol blood levels,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
936,2001,Females,X45,Accidental poisoning by and exposure to alcohol,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
937,2001,Females,X65,Intentional self-poisoning by and exposure to ...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
938,2001,Females,Y15,"Poisoning by and exposure to alcohol, undeterm...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [218]:
# View the data
df3

,Area code,Area name,Sex,Year [note 3],Number of deaths,"Age-standardised rate per 100,000",Lower 95% confidence interval,Upper 95% confidence interval
0,E12000001,North East,Females,2001,96,7.8,6.3,9.5
1,E12000001,North East,Males,2001,165,14.3,12.1,16.5
2,E12000001,North East,Persons,2001,261,10.9,9.6,12.2
3,E12000001,North East,Females,2002,76,6.1,4.8,7.7
4,E12000001,North East,Males,2002,185,15.8,13.5,18.1
...,...,...,...,...,...,...,...,...
940,W92000004,Wales,Males,2020,294,19.1,16.9,21.3
941,W92000004,Wales,Persons,2020,438,13.9,12.6,15.2
942,W92000004,Wales,Females,2021,147,9.2,7.7,10.7
943,W92000004,Wales,Males,2021,325,21.1,18.8,23.4
944,W92000004,Wales,Persons,2021,472,15.0,13.6,16.3

In [219]:
# Show the basic information and statistics for the dataframe
df2_England.info()
df2_England.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 25 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year [note 3]                          945 non-null    int64
 1   Sex                                    945 non-null    object
 2   ICD-10 code                            945 non-null    object
 3   Individual cause of death description  945 non-null    object
 4   <1                                     945 non-null    int64
 5   01-04                                  945 non-null    int64
 6   05-09                                  945 non-null    int64
 7   10-14                                  945 non-null    int64
 8   15-19                                  945 non-null    int64
 9   20-24                                  945 non-null    int64
 10  25-29                                  945 non-null    int64
 11  30-34                                  945 non-null    int64
 12  35-39                                  945 non-null    int64
 13  40-44                                  945 non-null    int64
 14  45-49                                  945 non-null    int64
 15  50-54                                  945 non-null    int64
 16  55-59                                  945 non-null    int64
 17  60-64                                  945 non-null    int64
 18  65-69                                  945 non-null    int64
 19  70-74                                  945 non-null    int64
 20  75-79                                  945 non-null    int64
 21  80-84                                  945 non-null    int64
 22  85-89                                  945 non-null    int64
 23  90+                                    945 non-null    int64
 24  All ages                               945 non-null    int64
dtypes: int64(22), object(3)
memory usage: 184.7+ KB

,Year [note 3],<1,01-04,05-09,10-14,15-19,20-24,25-29,30-34,35-39,...,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90+,All ages
count,945.000000,945.000000,945.0,945.0,945.000000,945.000000,945.000000,945.000000,945.000000,945.000000,...,945.000000,945.000000,945.000000,945.000000,945.000000,945.000000,945.000000,945.000000,945.000000,945.000000
mean,2011.000000,0.012698,0.0,0.0,0.002116,0.103704,0.503704,2.167196,6.275132,13.092063,...,37.394709,37.166138,31.864550,24.080423,14.296296,7.949206,3.515344,1.259259,0.330159,235.354497
std,6.058507,0.129567,0.0,0.0,0.045980,0.475944,1.445418,5.989361,17.897616,39.922661,...,126.667663,128.493714,111.950062,85.928132,51.067036,27.655982,11.310151,3.810873,1.018364,784.130579
min,2001.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2006.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2011.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,2016.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.000000,2.000000,4.000000,...,9.000000,7.000000,5.000000,3.000000,2.000000,1.000000,1.000000,0.000000,0.000000,54.000000
max,2021.000000,2.000000,0.0,0.0,1.000000,6.000000,11.000000,45.000000,121.000000,268.000000,...,1006.000000,1079.000000,839.000000,705.000000,453.000000,249.000000,88.000000,31.000000,8.000000,6060.000000

In [220]:
# Show the basic information and statistics for df3
df3.info()
df3.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Area code                          945 non-null    object
 1   Area name                          945 non-null    object
 2   Sex                                945 non-null    object
 3   Year [note 3]                      945 non-null    int64
 4   Number of deaths                   945 non-null    int64
 5   Age-standardised rate per 100,000  945 non-null    float64
 6   Lower 95% confidence interval      945 non-null    float64
 7   Upper 95% confidence interval      945 non-null    float64
dtypes: float64(3), int64(2), object(3)
memory usage: 59.2+ KB

,Year [note 3],Number of deaths,"Age-standardised rate per 100,000",Lower 95% confidence interval,Upper 95% confidence interval
count,945.000000,945.000000,945.000000,945.000000,945.000000
mean,2011.000000,1119.921693,12.290899,11.147090,13.444550
std,6.058507,1686.365932,5.745778,5.383661,6.153233
min,2001.000000,53.000000,3.800000,3.100000,4.400000
25%,2006.000000,229.000000,8.100000,7.200000,9.100000
50%,2011.000000,400.000000,11.300000,10.400000,12.400000
75%,2016.000000,904.000000,15.000000,13.800000,16.200000
max,2021.000000,9641.000000,42.600000,39.900000,45.400000

In [221]:
# Function to show unique values in the columns with string values
def show_unique_values(in_df):
    for column in in_df.select_dtypes(include='object').columns:
        # Get unique values in the column and sort them
        unique_values = sorted(in_df[column].unique())

        # Print sorted unique values of the column in a new line for each value
        print(f"\nUnique values in '{column}':\n")
        print(*unique_values, sep="\n")

In [222]:
# Show unique values in the columns with string values
show_unique_values(df2_England)

Unique values in 'Sex':

Females
Males
Persons

Unique values in 'ICD-10 code':

E24.4
F10
G31.2
G62.1
G72.1
I42.6
K29.2
K70
K85.2
K86.0
Q86.0
R78.0
X45
X65
Y15

Unique values in 'Individual cause of death description':

Accidental poisoning by and exposure to alcohol
Alcohol-induced acute pancreatitis
Alcohol-induced chronic pancreatitis
Alcohol-induced pseudo-Cushing's syndrome
Alcoholic cardiomyopathy
Alcoholic gastritis
Alcoholic liver disease
Alcoholic myopathy
Alcoholic polyneuropathy
Degeneration of nervous system due to alcohol
Excess alcohol blood levels
Fetal alcohol syndrome (dysmorphic)
Intentional self-poisoning by and exposure to alcohol
Mental and behavioural disorders due to the use of alcohol
Poisoning by and exposure to alcohol, undetermined intent

In [223]:
# Show unique values in the columns with string values
show_unique_values(df3)

Unique values in 'Area code':

E12000001
E12000002
E12000003
E12000004
E12000005
E12000006
E12000007
E12000008
E12000009
E92000001
K02000001
K04000001
N92000002
S92000003
W92000004

Unique values in 'Area name':

East
East Midlands
England
England and Wales
London
North East
North West
Northern Ireland
Scotland
South East
South West
United Kingdom
Wales
West Midlands
Yorkshire and The Humber
Yorkshire and the Humber

Unique values in 'Sex':

Females
Males
Persons

In [224]:
# Transform and clean the data

# Add the country column to the dataframes
df2_England         ['Country'] = 'England'
df2_Wales           ['Country'] = 'Wales'
df2_Scotland        ['Country'] = 'Scotland'
df2_Northern_Ireland['Country'] = 'Northern Ireland'

# Merge the dataframes of df2
df2 = pd.concat([df2_England, df2_Wales, df2_Scotland, df2_Northern_Ireland], ignore_index=True)

# Rename the columns
df2 = df2.rename(columns={'Year [note 3]' : 'Year', 'Individual cause of death description' : 'Cause'})
df3 = df3.rename(columns={'Year [note 3]' : 'Year', 'Area name' : 'Country'})

# Move the 'Country' column to the first position
df2.insert(0, 'Country', df2.pop('Country'))

# Delete the rows and columns with totals
df2 = df2[df2['Sex'] != 'Persons']
df3 = df3[df3['Sex'] != 'Persons']
# df2 = df2.drop(columns=['All ages'])

# Delete unnecessary rows and columns
df2 = df2.drop(columns=['ICD-10 code', 'Cause'])
df3 = df3.drop(columns=['Area code', 'Number of deaths'])
df3 = df3[df3['Country'].isin(['England', 'Wales', 'Scotland', 'Northern Ireland'])]

# Group df2 after the deletion of the Cause column
df2 = df2.groupby(['Country', 'Sex', 'Year']).sum().reset_index()

# Merge the dataframes of df2 and df3
df = pd.merge(df2, df3, on=['Country', 'Sex', 'Year'])

In [225]:
# View the data
df

,Country,Sex,Year,<1,01-04,05-09,10-14,15-19,20-24,25-29,...,65-69,70-74,75-79,80-84,85-89,90+,All ages,"Age-standardised rate per 100,000",Lower 95% confidence interval,Upper 95% confidence interval
0,England,Females,2001,0,0,0,0,1,1,12,...,107,57,49,19,12,1,1305,5.6,5.3,5.9
1,England,Females,2002,2,0,0,0,0,3,14,...,119,67,38,28,7,2,1331,5.7,5.4,6.0
2,England,Females,2003,0,0,0,0,3,4,17,...,125,79,53,18,10,3,1374,5.8,5.5,6.1
3,England,Females,2004,0,0,0,0,0,1,14,...,131,98,42,22,8,2,1508,6.4,6.0,6.7
4,England,Females,2005,0,0,0,0,1,6,13,...,122,65,43,15,13,2,1493,6.2,5.9,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Wales,Males,2017,0,0,0,0,0,0,2,...,30,26,8,5,2,0,271,18.0,15.8,20.1
164,Wales,Males,2018,0,0,0,0,0,1,5,...,29,17,7,5,1,0,266,17.7,15.5,19.8
165,Wales,Males,2019,0,0,0,0,0,0,0,...,30,25,8,3,0,0,229,15.1,13.1,17.0
166,Wales,Males,2020,0,0,0,0,0,0,1,...,38,31,15,3,3,0,294,19.1,16.9,21.3
167,Wales,Males,2021,0,0,0,0,0,1,2,...,49,27,17,9,1,0,325,21.1,18.8,23.4

In [226]:
# Show unique values in the columns with string values
show_unique_values(df)

Unique values in 'Country':

England
Northern Ireland
Scotland
Wales

Unique values in 'Sex':

Females
Males